body{
	font-size: 16px; /*1em*/
	margin: 0 auto;
	max-width: 1078px;
	min-width: 1078px;
}
header input{
	float: right;
	margin-right: -200px;
	position: relative;
}
#granthams{
	margin-top: 25px;
	margin-left: 25px;
}
#paint{
	float: right;
}
#segundaseccion{
padding-right: 122px;
}
#terceraseccion article{
	display: inline-block;
	margin-right: 4px;
	vertical-align: top;
	width: 23%;
}
#terceraseccion article img{
	/*Alineacion vertical de la imagen*/
	/*Mueve el texto que esta alrededor*/
	vertical-align: middle;
}
#terceraseccion article input{
	border-radius: 5px;
}
#terceraseccion article input[type="button"]{
	background: #A4CD28;
	color: white;
}
.colorazul{
	color: #629ad4;
}
.colorrosa{
	color: #FF0099;
}
.colorverde{
	color: #8bc500;
}
.letramediana{
	font-size: 2em;
}
.nito{
	font-weight: bold;
}